.App {
  display: grid;
  place-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/29/buildings-1867550_1280.jpg");
  height: 100vh;
}

.app__body {
  display: flex;
  flex-direction: column;
  background-color: #3d3939;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  margin: 0;
}

Button {
  text-decoration: none;
}
